backend/static/**/*.png filter=lfs diff=lfs merge=lfs -text
backend/static/**/*.jpg filter=lfs diff=lfs merge=lfs -text
backend/static/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
backend/static/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
backend/static/**/*.gif filter=lfs diff=lfs merge=lfs -text
backend/static/**/*.webp filter=lfs diff=lfs merge=lfs -text
